DATABASE_URL=postgresql://localhost/doppelpheus
PORT=39248

MAIN_CHANNEL=C
BTS_CHANNEL=C
REVIEWS_CHANNEL=C
PURCHASES_CHANNEL=C

SLACK_BOT_TOKEN=xoxb-
SLACK_SIGNING_SECRET=
SLACK_BOT_USER_ID=U

SLACK_XOXD_TOKEN=xoxd-   # do not url decode, copy from cookie header
SLACK_XOXC_TOKEN=xoxc-
SLACK_XOXP_TOKEN=xoxp-
SLACK_USER_ID=U

HCA_CLIENT_ID=
HCA_CLIENT_SECRET=

HACKATIME_CLIENT_ID=
HACKATIME_CLIENT_SECRET=

EXTERNAL_URL=http://localhost:39248

ADMIN_API_KEY=
ADMIN_USER_IDS=U1,U2   # comma-separated slack user ids allowed to see the admin panel

AIRTABLE_API_KEY=
AIRTABLE_BASE_ID=
